.row {
  width: 100%;
}

// navbar-fixed-top
// ----------------
body {
  padding-top: 70px;
}
footer.navbar {
  margin-bottom: 0;
}
// ----------------

// Sticky footer
// -------------
html, body {
  height: 100%;
}
main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -52px;
  padding-bottom: 20px;
}
#push {
  height: 50px;
}
// -------------
