transition() {
  -webkit-transition arguments
  -moz-transition arguments
  -ms-transition arguments
  -o-transition arguments
  transition arguments
}
transform() {
  -webkit-transform arguments
  -moz-transform arguments
  -ms-transform arguments
  -o-transform arguments
  transform arguments
}

.row {
  width: 100%;
}

// navbar-fixed-top
// ----------------
body {
  padding-top: 70px;
}
footer.navbar {
  margin-bottom: 0;
}
// ----------------

// Sticky footer
// -------------
html, body {
  height: 100%;
}
main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -52px;
  padding-bottom: 20px;
}
#push {
  height: 50px;
}
// -------------

// ng-animate
// ----------
.animate {
  transition: 100ms linear all;
}
.ng-hide-add, .ng-hide-remove {
  display: block!important;
}
.ng-hide {
  overflow: hidden;
  line-height: 0;
}
// ----------
