doctype 5
meta(charset='utf-8')
title
link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
link(rel='stylesheet', href='css/style.css')
script(src='//code.jquery.com/jquery-2.0.3.min.js')
script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.js')
if debug
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js', data-main='javascript/config')
  script(src='//localhost:35729/livereload.js')
else
  script(src='//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.8/require.min.js', data-main='js/main')
